.infoBar{
  /* display: block; */
    /* margin-top: 50px; */
    height: 100px;
}

.infoBar > tr > td {
  color: white;
  height: 20px;
  /* vertical-align: baseline; */
  border: 1px solid red;
  text-transform: uppercase;
}

