.remove_button{
    color: white;
    float: center;
    border: 0;
    border-radius: 3px;background: transparent;
    font-size: 110%;
}
.remove_button:hover{
    background: rgb(24, 24, 100)
}

#amount input{
    background-color: inherit;
    border: inherit;
    color: white;
    text-align: center;

}