
.TickerList{
  display: block;
  height: 400px;     
  overflow-y: auto;    
  overflow-x: hidden;  
  scroll-behavior: smooth;
  width: 604px;
  table-layout: fixed;
  border-collapse: collapse;
  /* mozilla scrollbar */
  scrollbar-color: rgb(0, 14, 69) rgb(1, 0, 17);
  scrollbar-width: thin;
  overflow-x: scroll;
}

tr{
  vertical-align: top;
  overflow-x: scroll;
  background: rgb(1, 0, 17);

}

tr:nth-child(even) {
  background: rgb(12, 12, 37);
}

.tickerListHeader > tr > th{
  vertical-align: top;
  text-align: left;
  color: white;
  height: 25px;
  position: sticky;
  top: 0px;
  background-color:rgb(8, 3, 77);
  border: 1px thin white;
  /* padding-left: 40px; */
  padding-right: 40px;
  width: 50px;
  padding-top: 4px;
  z-index: 4;
  width: 100%
}
td{
  vertical-align: top;
  color: white;
  vertical-align: baseline;
  /* border: 1px solid red; */
  text-transform: uppercase;
}

#sticky_column{
  position: sticky;
  left: 0;
  z-index: 2;
  background: inherit;
}

/* #sticky_column:nth-child(even){
  background: rgb(12, 12, 37);
} */

#amount{
  padding-right: 20px;
}

#amount input{
  width: 50px;
}

.header{
  vertical-align: middle;
  text-align: left;
  background-color: rgb(8, 8, 49);

}

#add_button{
  width: 100%;
  height: 25px;
  border: 1px solid black;
  background-color:rgb(11, 5, 26);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: thin solid white;
}

#addButtonRow{
  position: sticky;
  bottom: 0;
  z-index: 4;
}

#add_button:hover{
  background-color:rgb(8, 3, 77);
}

#color_code{
  width: 2rem;
}

@media only screen and (max-width: 604px) {
  .TickerList {
    width: 100vw;

    display: table;
    table-layout: auto;
    
  }

  .TickerList * {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  .tableContainer{
    max-height: 60%;
    overflow-y: scroll;
  }


  #amount input{
    width: 100%;
  }

  #amount{
    display: table-cell;
  }

  #add_button{
    /* width:         calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width:    -moz-calc(100% - 40px); */
    width: 100%;
  }

  .infoBar{
    margin-bottom: 10px;
  }

  .gainersTable{
    width: 50vh;
  }

  ::-webkit-scrollbar{
    width: 0px;
    height: 5px;
  }


  
}