
.background{
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgb(1, 0, 17);
}

.infoRow{
  display:flex;
  width: 100%;
  /* flex: 1; */
  flex-direction: row;
  margin-top: 10px;
}

.centerContainer{
  width: 594px;
}

/* 
.appContainer{
  margin: auto;
  background-color: rgb(1, 0, 17);
} 

.grid{
  display: grid;
  grid-template-columns: 1% 1fr 1% 1fr 1%;
  grid-template-rows: 1% 1fr 1% 1fr 1%;

  width: auto;w
  height: 100vh;
  min-height: 0;  
  min-width: 0;  
  font-family: "Electrolize";
  background-color: rgb(1, 0, 17);
  margin:auto;
}
.tickerList{
  border-style: solid;
  border-width: thin;
  border-color: rgb(76, 2, 247);
  border-radius: 20px;
  background-color: rgb(1, 0, 17);
  grid-area: 2 / 2 / 5 / 3;
  border: 3px solid red;

}
.top-right{
  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 20px;
  background-color: rgb(1, 0, 17);
  grid-area: 2 / 4 / 3 / 5;
}

.top-right-container{
  display: flex;
  flex-direction: row;
}

.bottom-left{
  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 20px;
  background-color: rgb(1, 0, 17);
  grid-area: 4 / 4 / 5 / 5;
}

.bottom-left-container{
  display: flex;
  flex-direction: row;
} */

@media screen and (max-width: 720px){
  .grid{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr; */
  }
  .background{
    width: 100vw;
    height: 100vh;
  }

  .TickerList{
    width: 720px;
    /* max-height: 600px !important; */
    overflow-y: scroll;
    display:block;
    /* border: 2px solid red !important; */
  }
  .TickerList table tbody{
    overflow-y: scroll;  
    /* height: 200px; */
    /* scroll-behavior: smooth;
    scrollbar-color: rgb(0, 14, 69) rgb(1, 0, 17);
    scrollbar-width: thin; */
  }
  .infoRow{
    width: 100vw;
    /* border: 2px solid yellow; */
    overflow-y: scroll;
    scroll-behavior: auto;
    scroll-margin: 0;
  }
} 

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

