
.grid{
  display: grid;
  grid-template-columns: 1% 1fr 1% 1fr 1%;;
  grid-template-rows: 1% 1fr 1% 1fr 1%;
  grid-gap: 5px 5px;
  width: 100vw;
  height: 100vh;
  font-family: "Electrolize";
  background-color: rgb(1, 0, 17);
}
.tickerList{
  border-style: solid;
  border-width: thin;
  border-color: rgb(76, 2, 247);
  border-radius: 20px;
  background-color: rgb(1, 0, 17);
  grid-area: 2 / 2 / 5 / 3;
}
.top-right{
  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 20px;
  background-color: rgb(1, 0, 17);
  grid-area: 2 / 4 / 3 / 5;
}

.top-right-container{
  display: flex;
  flex-direction: row;
  /* margin-top: 50px; */
  /* border: 1px dashed  red; */

}

.chart{
  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 20px;
  background-color: rgb(1, 0, 17);
  grid-area: 4 / 4 / 5 / 5;
}


@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

