.marquee{
    background: black;
    color: white;
    /* flex: 1 1 auto; */
    max-width: 100vw;
    z-index: 1;
    display: flex;
    white-space: nowrap;
    height: 30px;
}

.marqueeItem{
    white-space: pre;
    display: inline-flex;
    flex: 1 1 auto;
}

