.loading{
    display:flex;
    justify-content: center;
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-top-color: red;
    border-bottom-color: red;
    border-radius: 50%;
    animation: loadingAnimation 1s linear infinite;
}

/* .loading:before{
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-top-color: red;
    border-bottom-color: red;
    border-radius: 50%;
    animation: loadingAnimation 1s linear infinite;
    
} */

@keyframes loadingAnimation {
    to {
        transfrom: rotate(1turn);
    }
}